<main role="main">
<div class="main_content products_page">
	<ng-form class="ng-pristine ng-valid ng-valid-maxlength ng-valid-required ">
	<div class="row search_box_filter">
		<div class="col-sm-11">
			<div class="form-group">
				<div class="icon-addon addon-lg search_imd ">
				<custom-input-box name="productName" place-holder-name="Search by Product name ..."
					ng-model="productsVm.productName" max-length-limit="254"></custom-input-box>
					<label class="glyphicon">
						<span class="search_icon"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<div class="dropdown gutter-top-10 products_filter">
				<button class="btn btn-primary filter_btn_red dropdown-toggle"
					type="button" data-toggle="dropdown" title="Filter">
					<i class="filter_icon" aria-hidden="true"></i><span>Filter</span>
				</button>
			</div>
		</div>
	</div>
	</ng-form>

	<div class="main_head gutter-top-10 bottom_spacing">

		<div class="row">
			<!-- middlePart -->

			<div class="col-md-6 col-xs-8">
				<!-- rightSide -->
				<h3>
					<span>Products</span>
				</h3>
			</div>

			<div class="col-md-6 col-xs-4 text-right gutter-top-25">
				<!-- leftSide -->
				<p>
					<span ng-bind='productsVm.sampleProducts.filteredSearchResults.length'></span>
					<span>Result<span ng-if="productsVm.sampleProducts.filteredSearchResults.length != 1">s</span></span>
				</p>
			</div>

		</div>

		<hr>
		<div class="row product_options">
			<div class="item col-xs-6 col-md-4 col-lg-3" ng-repeat="x in productsVm.sampleProducts.filteredSearchResults=(productsVm.sampleProducts | filter : {'businessDescription': productsVm.productName}) track by $index">
				<div class="option_product">
					<div class="thumbnail grid_view">
						<div class="selection">
							<!-- displayValues -->
							<h3 class="multi_line_text_table_100_per">{{x.businessDescription}}</h3>
						</div>
						<div class="caption product-caption-position">
							<div class="row">
								<div class="col-xs-6 col-md-6">
									<button type="button" ui-sref="variant"
										class="btn filter_btn_red" title="Manage" ng-click="passCode(x.productCode)">
										<i class="edit_icon"></i> <span>Manage</span>
									</button>
								</div>
								<div class="col-xs-6 col-md-6">
									<button type="button"
										class="btn filter_btn_red" title="Options">
										<i class="options_icon"></i> <span>Options</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row" 
			 ng-if = "productsVm.sampleProducts.filteredSearchResults.length == 0">
           <div class="col-md-5"></div>
           
           <div class="col-xs-2 no_records text-center gutter-top-25">
           <p><span data-i18n-text="{bundle: 'common', key: 'no_records_found_label'}" /></p>
           </div>
           
           <div class="col-md-5"></div>
        </div>  <!-- No records found -->
	</div>

	<!--<hr>-->

</div>
<!-- /container --> </main>


<div class="footer_buttn">
	<!-- footerPart -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5"></div>
			<div class="col-xs-8 col-md-6 text-left">

				<button type="button" class="btn footer_btn" title="Exit" ng-click="productsVm.exit()">
					<span>Exit</span>
				</button>

			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>