/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, able, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, enu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align:top; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
td{vertical-align:top;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}
::focus, :selection { outline: 0; }
/*html{overflow-y:scroll;}*/
/* default */
body{width:100%; font-size:12px; font-weight:400; line-height:inherit; margin:0; padding:0;}
a{text-decoration:none; color:#225e8e; cursor:pointer; vertical-align:top;outline:0;}
a:hover{text-decoration:underline;}
a:active, a:selected, a:visited {border: none;outline: none !important;text-decoration:none !important}
a, a:focus, a:hover{outline:none;}
:focus, :hover, a:focus, a:hover{outline: 0;text-decoration:none !important}
a img{border:none; cursor:pointer;}
.clear{clear:both;}
.clearleft{clear:left;}
.clearright{clear:right;}
.pullleft{float:left;}
.pullright{float:right;}
.italic{font-style:italic;}
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}
.bold{font-weight:bold;}
.tab{padding:0 0 0 35px;}
.bold{font-weight:700;}
img{max-width:100%;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0;font-family:'Open Sans', Arial, Helvetica, sans-serif;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input, textarea,input[type="text"],input[type="button"],input[type="submit"] {/*-webkit-appearance: none;*/font-family:'Open Sans', Arial, Helvetica, sans-serif;margin:0;}
